.pre,
.title {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.04em;
}
.title {
  margin: 0;
  font-size: 54px;
  letter-spacing: -1.79px;
  line-height: 104%;
  font-weight: 800;
  font-family: inherit;
  color: var(--color-black);
}
.pre-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.title1 {
  height: 22px;
  width: 92px;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
}
.rating-child,
.rating-child1,
.rating-inner,
.rating-item,
.star-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.rating,
.reviews {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.rating {
  align-items: flex-start;
  gap: 2px;
}
.reviews {
  align-items: flex-end;
  gap: var(--gap-xl);
}
.paragraph-1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: -0.03em;
  line-height: 140%;
  color: #4f4f4f;
}
.block-body,
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.block-body {
  gap: var(--gap-base);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.frame-container {
  gap: var(--gap-xl);
}
.background {
  height: 112px;
  width: 88px;
  position: relative;
  border-radius: var(--br-lg);
  background-color: var(--color-whitesmoke-100);
  display: none;
}
.source-icon {
  height: 61px;
  width: 73px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.background-parent {
  border-radius: var(--br-lg);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-6xs) var(--padding-7xl)
    var(--padding-5xs);
}
.highlight {
  height: 6px;
  width: 6px;
  position: absolute;
  margin: 0 !important;
  bottom: -12px;
  left: calc(50% - 3px);
  border-radius: 50%;
  background-color: var(--color-coral);
}
.image-1 {
  height: 124px;
  width: 100px;
  border-radius: 20px;
  background-color: var(--color-white);
  border: 2px solid var(--color-coral);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  position: relative;
  gap: var(--gap-3xs);
}
.source-icon1 {
  width: 67px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
}
.image-2,
.image-2-wrapper {
  display: flex;
  flex-direction: column;
}
.image-2 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--color-whitesmoke-100);
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl) 9px;
}
.image-2-wrapper {
  height: 116px;
  width: 88px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.source-icon2 {
  width: 71px;
  flex: 1;
  position: relative;
  max-height: 100%;
  object-fit: contain;
}
.image-3 {
  align-self: stretch;
  flex: 1;
  border-radius: var(--br-lg);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl) var(--padding-6xs);
}
.image-3-wrapper {
  height: 116px;
  width: 88px;
  flex-direction: column;
  padding: var(--padding-9xs) 0 0;
  box-sizing: border-box;
}
.frame-group,
.frame-wrapper,
.image-3-wrapper,
.image-sources {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-sources {
  width: 312px;
  height: 120px;
  flex-direction: row;
  gap: var(--gap-xl);
}
.frame-group,
.frame-wrapper {
  flex-direction: column;
}
.frame-group {
  align-self: stretch;
  gap: 52px;
}
.frame-wrapper {
  width: 348px;
  padding: 106.5px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.background-icon {
  position: absolute;
  width: calc(100% - 16px);
  top: 0;
  right: 8px;
  left: 8px;
  max-width: 100%;
  overflow: hidden;
  height: 690px;
}
.source-icon3 {
  position: absolute;
  top: 120px;
  left: 0;
  width: 504px;
  height: 466px;
  object-fit: cover;
  z-index: 1;
}
.background-group {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.product-image {
  height: 690px;
  width: 504px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.title2,
.value {
  position: relative;
  text-transform: uppercase;
}
.title2 {
  align-self: stretch;
  font-weight: 800;
}
.value {
  width: 40px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-noto-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.highlight1 {
  height: 6px;
  width: 6px;
  position: absolute;
  margin: 0 !important;
  bottom: -12px;
  left: calc(50% - 3px);
  border-radius: 50%;
  background-color: var(--color-coral);
}
.good,
.value1 {
  position: relative;
}
.good {
  cursor: pointer;
  border: 2px solid var(--color-coral);
  padding: var(--padding-6xs) var(--padding-7xl);
  background-color: transparent;
  flex: 0.6557;
  border-radius: var(--br-21xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 61px;
}
.value1 {
  width: 42px;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-noto-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.great {
  cursor: pointer;
  border: 1px solid var(--color-lightgray-100);
  padding: var(--padding-5xs) var(--padding-7xl);
  background-color: transparent;
  flex: 0.6885;
  border-radius: var(--br-21xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 61px;
}
.gb2:hover,
.great:hover {
  background-color: var(--color-darkgray-200);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
}
.value2 {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  min-width: 61px;
}
.good-parent,
.pristine,
.value-titles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.pristine {
  flex: 1;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  padding: var(--padding-5xs) 16px var(--padding-5xs) 17px;
  min-width: 61px;
}
.good-parent,
.value-titles {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.value-titles {
  flex-direction: column;
}
.title3,
.value3 {
  position: relative;
  text-transform: uppercase;
}
.title3 {
  align-self: stretch;
  font-weight: 800;
}
.value3 {
  width: 43px;
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-noto-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.highlight2 {
  height: 6px;
  width: 6px;
  position: absolute;
  margin: 0 !important;
  bottom: -12px;
  left: calc(50% - 3px);
  border-radius: 50%;
  background-color: var(--color-coral);
}
.gb,
.value4 {
  position: relative;
}
.gb {
  cursor: pointer;
  border: 2px solid var(--color-coral);
  padding: var(--padding-6xs) 23px var(--padding-6xs) var(--padding-7xl);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-21xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 43px;
}
.value4 {
  width: 43px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
}
.gb1 {
  flex: 1;
  border-radius: var(--br-21xl);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xl) var(--padding-5xs)
    var(--padding-7xl);
  min-width: 43px;
}
.value5 {
  width: 43px;
  position: relative;
  font-size: var(--font-size-base);
  text-transform: uppercase;
  font-weight: 600;
  font-family: var(--font-noto-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.gb-parent,
.gb2,
.value-titles1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.gb2 {
  cursor: pointer;
  border: 1px solid var(--color-lightgray-100);
  padding: var(--padding-5xs) var(--padding-6xl) var(--padding-5xs)
    var(--padding-7xl);
  background-color: transparent;
  flex: 1;
  border-radius: var(--br-21xl);
  box-sizing: border-box;
  min-width: 43px;
}
.gb-parent,
.value-titles1 {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.value-titles1 {
  flex-direction: column;
}
.title4 {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
  font-weight: 800;
}
.highlight3,
.value6 {
  height: 28px;
  width: 44px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-black);
}
.highlight3 {
  height: 6px;
  width: 6px;
  position: absolute;
  margin: 0 !important;
  bottom: -12px;
  left: calc(50% - 3px);
  background-color: var(--color-coral);
  z-index: 1;
}
.black,
.value7 {
  width: 48px;
  position: relative;
}
.black {
  height: 48px;
  border-radius: var(--br-21xl);
  border: 2px solid var(--color-coral);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.value7 {
  height: 28px;
  border-radius: 50%;
  background-color: #9f88a7;
}
.purple {
  height: 48px;
  width: 48px;
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-left: -4px;
}
.value8 {
  height: 28px;
  width: 48px;
  position: relative;
  border-radius: 50%;
  background-color: #f8e7b6;
}
.yellow {
  height: 48px;
  width: 48px;
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-left: -4px;
}
.value9 {
  height: 28px;
  width: 48px;
  position: relative;
  border-radius: 50%;
  background-color: #d5d8d8;
}
.silver {
  height: 48px;
  width: 48px;
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
  margin-left: -4px;
}
.value10 {
  height: 28px;
  width: 48px;
  position: relative;
  border-radius: 50%;
  background-color: #7c7d7d;
}
.grey,
.options {
  display: flex;
  flex-direction: row;
}
.grey {
  height: 48px;
  width: 48px;
  border-radius: var(--br-21xl);
  align-items: center;
  justify-content: center;
  z-index: 4;
  margin-left: -4px;
}
.options {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 20px;
}
.title-parent,
.value-options {
  align-self: stretch;
  flex-direction: column;
}
.title-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.value-options {
  gap: 48px;
}
.body-inner,
.frame-parent,
.product-values,
.value-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-values {
  width: 304px;
  flex-direction: column;
  padding: 187px 0 0;
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.body-inner,
.frame-parent {
  flex-direction: row;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  gap: 78px;
}
.body-inner {
  align-self: stretch;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.body {
  flex: 1;
  flex-direction: column;
  gap: 58px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-coral);
  font-family: var(--font-noto-sans);
}
.body,
.content,
.desktop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 80px;
  box-sizing: border-box;
  max-width: 100%;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  gap: 46px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1450px) {
  .frame-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .title {
    font-size: 43px;
    line-height: 45px;
  }
  .frame-wrapper,
  .product-values {
    padding-top: 69px;
    box-sizing: border-box;
  }
  .product-values {
    padding-top: 122px;
  }
  .frame-parent {
    gap: 39px;
  }
  .body {
    gap: 29px;
  }
  .content {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .desktop {
    gap: 23px;
  }
}
@media screen and (max-width: 450px) {
  .title {
    font-size: 32px;
    line-height: 34px;
  }
  .frame-group {
    gap: 26px;
  }
  .good,
  .great {
    flex: 1;
  }
  .gb-parent,
  .good-parent,
  .options {
    flex-wrap: wrap;
  }
  .value-options {
    gap: 24px;
  }
  .frame-parent {
    gap: 19px;
  }
}